.header {
  color: white;

  font-size: 2vh;
  font-weight: 900;
  font-style: oblique;
  background-color: $header-background-color;
  margin-bottom: 4.8rem;
  padding: 2rem;
  width: auto;
  border-radius: 1rem;
}
.header_title {
  color: #516fb1;
  justify-content: center;
  text-align: center;
}
